@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* background: url(https://images.unsplash.com/photo-1496151680149-491f32223028?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat;
  background-size: cover; */
  background-color: #FFDEB4;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  letter-spacing: 0.1rem;
  background-color: #94B49F;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: azure;
  cursor: pointer;
}

.note {
  background-color: azure;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: #CEE5D0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #ECB390;
  margin-left: 0.5rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  letter-spacing: 0.1rem;
  background-color: azure;
  font-size: 1.2rem;
  border: none;
  height: 357px;
  width: 100%;
  padding: 20px;
}

.hidden {
  display: none;
}